<div class="row">
  <div class="col-12 mb-4">
    <div class="form-group">
      <div class="spree-checkbox-container checkout-content-billing-checkbox" data-hook="use_billing">
        <div class="spree-checkbox">
          <%= form.check_box :pickup, class: 'form-check-input' %>
          <%= label_tag :order_pickup, nil, id: 'pickup' %>
        </div>
        <%= label_tag :order_pickup, Spree.t(:order_pickup), class: 'spree-checkbox-label' %>
      </div>
    </div>
    <div id="locations_pickup">
      <ul class="list-group">
        <% Spree::StockLocation.for_pickup.each do |location| %>
          <span class="d-block mb-2">
            <label class="form-check-label spree-radio-label">
              <%= radio_button_tag "order[stock_location_id]", location.id %>
              <span class="spree-radio-label-custom-input"></span>
              <span class="d-inline-block align-top">
                <%= location.name %>
              </span>
            </label>
          </span>
        <% end %>
      </ul>
    </div>
  </div> 
</div>