<div class="row">
  <div class="col-12 mb-4">
    <div class="form-group">
      <div class="spree-checkbox-container checkout-content-billing-checkbox" data-hook="use_billing">
        <div class="spree-checkbox">
          <%= form.check_box :pickup, class: 'form-check-input' %>
          <%= label_tag :order_pickup, nil, id: 'pickup' %>
        </div>
        <%= label_tag :order_pickup, Spree.t(:order_pickup), class: 'spree-checkbox-label' %>
      </div>
    </div>
    <div id="locations_pickup">
      <ul class="list-group">
        <% stock_locations = Spree::StockLocation.for_pickup %>
        <% if session[:coords].present? %>
          <% stock_locations = stock_locations.near([session[:coords]['latitude'], session[:coords]['longitude']], 5) %>
        <% else %>
          <% if current_spree_user && current_spree_user.ship_address %>
            <% stock_locations = stock_locations.near(current_spree_user.ship_address.full_address, 5) %>
          <% end %>
        <% end %>
        
        <% stock_locations.each_with_index do |location, index| %>
          <span class="d-block mb-2">
            <label class="form-check-label spree-radio-label">
              <%= radio_button_tag "order[stock_location_id]", location.id %>
              <span class="spree-radio-label-custom-input"></span>
              <span class="d-inline-block align-top">
                <%= location.name %>
              </span>
              <% if index == 0 %>
                <span class="nearest-stock-location"><%= Spree.t(:nearest_stock_location) %></span>
              <% end %>
            </label>
          </span>
        <% end %>
      </ul>
    </div>
  </div> 
</div>